

/* Style the navigation menu */
.topnav {
  display: flex;
  justify-items: flex-start;
 padding: 5px;
  overflow: hidden;
  background-color: white;
  position: sticky;
  top: 0;
  width:100%;

}

/* Hide the links inside the navigation menu (except for logo/home) */
.linkContainer {
  padding:auto;
  
  background-color: white;
}
 .icon{
  padding: 5px;
}
.topnav #myLinks {
  display:none;
  left: 1%;
  margin-top: 0px;
}

/* Style navigation menu links */

.topnav a {
  color: black;
  padding: 5px 5px lightgray;
  text-decoration: none;
  font-size: 14px;
}

/* Style the hamburger menu */

.topnav a.icon {
  width: 5%;
  max-width: 23px;
  font-size: 24px;
  background: white;
  left: 1%;
}

/* Add a grey background color on mouse-over */

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */

.active {
  background-color: white;
  color: white;
}

/* Seach Function */

form#search button {
  position:fixed; 
  left: 25px; 
  top: 4px;
  border: none;
  background: white;
  color: black;
  font-size: 20px;
  cursor: pointer;
  margin:auto;
}

.active-purple-4 input[type=text]:focus:not([readonly]) {
  border: 1px solid darkgray;
  box-shadow: 0 0 0 1px darkgray;
}

.active-purple-3 input[type=text] {
  display: none;
  border: 1px solid darkgray;
  box-shadow: 0 0 0 1px darkgray;
}

.mb-4 input {
  position:fixed; 
  left: 63px; 
  top: 6px;
  width: 65%
}

#logo {
  position:fixed; 
  margin-left: 35%;
}

#shopCart {
  position:fixed;
  font-size: 22px;
  right: 10px;
  top: 7px;
}

#userIcon {
  position:fixed;
  font-size: 22px;
  right: 40px;
  top: 7px;
}

.grid-body {
  width: 90vw;
  margin: 0 auto;
  max-width: 370px;
  display: grid;
  justify-items: space-around; 
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  border: solid 1px green;
  background-color: white;
}
.img-container {
  overflow: hidden;
}
.mediumText {
  font-size: 15px;
  font-weight: bold;
}

.smallText {
  font-size: small;
}

#pic1 {
  width: 100%;
  min-height: 12rem;
}
#pic2 {
  border: solid 1px lightgray;
  margin-top: 10%;
  margin-left: 3%;
  width: 44%;
  min-height: 12rem;
}
#pic3 {
  border: solid 1px lightgray;
  width: 44%;
  margin-top: 10%;
  margin-left: 4%;
  min-height: 12rem;
}